USE [world]
GO
/****** Object:  Table [dbo].[cities]    Script Date: 13.03.2021 16:12:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cities](
	[id] [int] NOT NULL,
	[city] [varchar](30) NOT NULL,
	[country_id] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[cities] ([id], [city], [country_id]) VALUES (4077, N'Adan', 243)
INSERT [dbo].[cities] ([id], [city], [country_id]) VALUES (1977, N'Ajlun', 111)
INSERT [dbo].[cities] ([id], [city], [country_id]) VALUES (964, N'Ali Sabih', 59)
GO
ALTER TABLE [dbo].[cities] ADD  DEFAULT (NULL) FOR [country_id]
GO
