USE [world]
GO
/****** Object:  Table [dbo].[countries]    Script Date: 13.03.2021 16:13:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[countries](
	[id] [int] NOT NULL,
	[rewrite] [varchar](150) NOT NULL,
	[country] [varchar](150) NOT NULL,
	[area_code] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[countries] ([id], [rewrite], [country], [area_code]) VALUES (1, N'AF', N'Afghanistan', N'93')
INSERT [dbo].[countries] ([id], [rewrite], [country], [area_code]) VALUES (2, N'AL', N'Albania', N'355')
INSERT [dbo].[countries] ([id], [rewrite], [country], [area_code]) VALUES (3, N'DZ', N'Algeria', N'213')
GO
